.binCategory
{
    display: grid;
    grid-template-columns: 5fr .5fr .5fr;
    padding: 0.3em;
}

.typeIcon
{
    height: 1.6em;
    margin-top: 0.1em;
    margin-bottom: 0.1em;
}

.binName
{
    border: solid 1px #bd6206;
    border-right: 0px;
    border-radius: 3px 0px 0px 3px;
    padding: 5px;
    color: antiquewhite;
}

.binType
{
    border: solid 1px #bd6206;
    border-left: dotted 1px dimgray;
    border-right: dotted 1px dimgray;
    text-align: center;
    background: linear-gradient(90deg, black, #222, black);
}

.binCount
{
    font-weight: bold;
    border: solid 1px #bd6206;
    border-left: 0px;
    border-radius: 0px 3px 3px 0px;
    text-align: center;
    padding-top: .35em;
    color: antiquewhite;
}

details > summary
{
  list-style: none;
}

details > summary::-webkit-details-marker
{
  display: none;
}

summary
{
  outline: none;
  cursor: pointer;
}

summary:hover
{
    background: #555;
}