@font-face
{
    font-family: EUROCAPS;
    src: url('EUROCAPS.ttf');
}

*
{
    font-family: EUROCAPS;

    /* Main UI color, used in most places where no other color is specified */
    --default-color: #f07b05;

    /* Used for cases where a slightly muted color is needed, typically behind
    a progress bar or other element that would lose definition if seen as transparent */
    --default-background: #333;

    /* Used for subtle dividers between elements, typically when touching directly */
    --default-divider: dimgray;

    /* Used in most cases as the default text color */
    --default-text: antiquewhite;

    /* Typically used for statistic entries in UI panels */
    --default-border: #bd6206;

    /* Indicates something is positive, better than normal */
    --positive-color: #00b3f7;

    /* Indicates something is negative, worse than normal */
    --negative-color: #ff0000;

    /* Used to signify an item has an engineering mod, or is a modification effect */
    --modification-color: #ff7100;

    /* Used to signify an item has, or is, an experimental effect */
    --experimental-color: #ffb000;

    /* Used to signify an item or effect is guardian related */
    --guardian-color: #0a8bd6;

    /* Used to signify human tech broker modules */
    --human-tech-color: #04d165;

    /* Used to signify aegis experimental modules */
    --aegis-tech-color: #a81818;

    /* Used to signify an effect is anti-xeno */
    --anti-xeno-color: #029e4c;

    /* GPS map colors */

    /* Background color */
    --gps-background: #211100;

    /* Border and line color */
    --gps-line: #f07b05;
}

/*
Represents a value that is positive, for example a modification to a module stat that is
beneficial, or a faction reputation that is better than average.
*/
.positive
{
    color: var(--positive-color);
}

/*
Represents a value that is negative, for example a modification to a module stat that is
detrimental, or a faction reputation that is worse than average.
*/
.negative
{
    color: var(--negative-color);
}

/*
Represents an engineer specific modification effect or a module that has such an effect.
*/
.modification
{
    color: var(--modification-color);
}

/*
Represents an engineer specific experimental effect or a module that has such an effect.
*/
.experimental
{
    color: var(--experimental-color);
}

/*
Represents an guardian specific effect or a module.
*/
.guardian
{
    color: var(--guardian-color);
}

/*
Represents a human tech broker a module.
*/
.humantech
{
    color: var(--human-tech-color);
}

/*
Represents an aegis experimental module.
*/
.aegistech
{
    color: var(--aegis-tech-color);
}

/*
Represents an anti-xeno specific effect.
*/
.antixeno
{
    color: var(--anti-xeno-color);
}

/*
Global styling parameters for <progress> elements. Note these may be overridden in cases
where it is necessary.
*/
progress
{
    appearance: none;
}

progress::-webkit-progress-value
{
    background: var(--default-color);
}

progress::-webkit-progress-bar
{
    background: var(--default-background);
}

/*
Global styling parameters for <meter> elements. These are mainly used to represent faction
reputation states that range from -100 to 100.
*/

meter
{
    background: var(--default-background);
    border-radius: 0px;
    width: 10em;
    height: 1em;
}

meter::-webkit-meter-bar
{
    background: var(--default-background);
    border: 0px;
    border-radius: 0px;
    height: 1em;
}

meter::-webkit-meter-optimum-value
{
    background: var(--positive-color);
    border-radius: 0px;
    height: 1em;
}

meter::-webkit-meter-suboptimum-value
{
    background: var(--default-color);
    border-radius: 0px;
    height: 1em;
}

meter::-webkit-meter-even-less-good-value
{
    background: var(--negative-color);
    border-radius: 0px;
    height: 1em;
}

/*
Global style settings for <details> and <summary> elements (i.e. drop-down controls) to
ensure they have a consistent look everywhere in the UI.
*/
summary
{
  outline: none;
  cursor: pointer;
}

summary:hover
{
    background: #555;
}

details > summary
{
  list-style: none;
}

details > summary::-webkit-details-marker
{
  display: none;
}

/*
Global input element styles
*/

input[type=button]
{
    background: var(--default-background);
    color: var(--default-color);
    border: 1px solid var(--default-border);
    border-radius: 3px 3px 3px 3px;
}

input[type=button]:hover
{
    background: var(--default-border);
    color: white;
}

input[type=button]:active
{
    background: white;
    color: var(--default-border);
}

input[type=button]:disabled
{
    border: 1px solid var(--default-background);
    background: black;
    color: var(--default-border);
}

input[type=text]
{
    border: solid 1px var(--default-border);
    border-radius: 3px 3px 3px 3px;
    background: var(--default-background);
    color: var(--default-color);
    font-weight: bold;
}

textarea
{
    border: solid 1px var(--default-border);
    border-radius: 3px 3px 3px 3px;
    background: var(--default-background);
    color: var(--default-color);
    font-weight: bold;
    resize: none;
}

/*
Some reusable stat classes
*/

.infoTable
{
    border-top: 1px dotted var(--default-border);
    display: grid;
}

.infoRow
{
    display: grid;
    border-bottom: 1px dashed var(--default-background);
    grid-template-columns: 2.5fr 3fr 1.6fr;
    background: linear-gradient(90deg, black, #222);
}

.infoRow:hover > span
{
    background: #572c02;
}

@keyframes slideRight
{
  from { padding-right: 10em; }
  to { padding-right: 5px }
}

@keyframes slideLeft
{
  from { padding-left: 10em; }
  to { padding-left: 5px }
}

.infoName
{
    text-align: right;
    padding-right: 8px;
    overflow: hidden; /* Ensures the content is not revealed until the animation */
}

.infoValue
{
    text-align: right;
    padding-right: 5px;
    overflow: hidden; /* Ensures the content is not revealed until the animation */
    white-space: nowrap; /* Keeps the content on a single line */
    animation: slideRight 0.1s ease; /*steps(30, end)*/
}

.infoUnit
{
    text-align: left;
    padding-left: 5px;
    color: var(--default-color);
    animation: slideLeft 0.3s ease;/*steps(30, end)*/
}


/*
Styles used for various star types
*/

.star
{
    background: linear-gradient(330deg,
                black, black, black,
                black, black, black,
                black, black, black,
                #111, dimgray, dimgray);
}

.star_O
{
    background: linear-gradient(330deg,
                black, black, black,
                black, black, black,
                black, black, black,
                black, black, black,
                rgba(38, 0, 255, 0.25),
                #2600ff, #9bb0ff, white, white);
}

.star_B
{
    background: linear-gradient(330deg,
                black, black, black,
                black, black, black,
                black, black, black,
                rgba(46, 97, 255, 0.25), #aabfff, white);
}

.star_A
{
    background: linear-gradient(330deg,
                black, black, black,
                black, black, black,
                black, black, black,
                rgba(102, 138, 255, 0.25), #cad7ff, #cad7ff);
}

.star_F
{
    background: linear-gradient(330deg,
                black, black, black,
                black, black, black,
                black, black, black,
                rgba(119, 102, 255, 0.25), #f8f7ff, #f8f7ff);
}

.star_G
{
    background: linear-gradient(330deg,
                black, black, black,
                black, black, black,
                black, black, black,
                rgba(255, 168, 92, 0.25), #fff4ea, #fff4ea);
}

.star_K
{
    background: linear-gradient(330deg,
                black, black, black,
                black, black, black,
                black, black, black,
                rgba(255, 159, 48, 0.25), #ffd2a1, #ffd2a1);
}

.star_M
{
    background: linear-gradient(330deg,
                black, black, black,
                black, black, black,
                black, black, black,
                rgba(255, 184, 54, 0.25), #ffcc6f, #ffcc6f);
}

.star_L
{
    background: linear-gradient(330deg,
                black, black, black,
                black, black, black,
                black, black, black,
                rgba(158, 5, 7, 0.25), #cb0b30, #cb0b30);
}

.star_T
{
    background: linear-gradient(330deg,
                black, black, black,
                black, black, black,
                black, black, black,
                rgba(203, 11, 48, 0.25), #9e0507, #9e0507);
}

.star_Y
{
    background: linear-gradient(330deg,
                black, black, black,
                black, black, black,
                black, black, black,
                rgba(130, 30, 63, 0.25), #541a0b, #571a3b);
}


.star_H
{
    background: linear-gradient(330deg,
                black, black, black,
                black, black, black,
                black, black, rgba(44, 89, 94, 0.1), black,
                rgba(255, 255, 255, 0.1), rgba(44, 89, 94, 0.25),
                black, black);
}

.star_N
{
    background: linear-gradient(330deg,
                black, black, black,
                black, black, rgba(0, 0, 255, 0.1),
                black, black, black,
                black, transparent, black,
                rgba(0, 0, 255, 0.1), rgba(0, 0, 255, 0.25),
                blue, white);
}

.star_W
{
    background: linear-gradient(330deg,
                black, black, black,
                black, black, black,
                black, black, black,
                black, black, black,
                rgba(136, 0, 255, 0.25),
                #1100ff, #9bb0ff, white, white);
}

.star_AeBe
{
    background: linear-gradient(330deg,
                black, black, black,
                black, black, black,
                black, black,
                rgba(255, 186, 110, 0.1),
                rgba(255, 186, 110, 0.5),
                rgba(255, 255, 255, 0.75), white, #ffdcb5);
}

.star_TTS
{
    background: linear-gradient(330deg,
                black, black, black,
                black, black, black,
                black, black, black,
                rgba(255, 180, 41, 0.25), #9bb0ff, #ff9a6f);
}


.star_M_RedGiant
{
    background: linear-gradient(330deg,
                black, black, black,
                black, black, black,
                black, black, rgba(255, 59, 59, 0.25),
                #ff9a6f, #ff9a6f, #ff9a6f);
}

.star_M_RedSuperGiant
{
    background: linear-gradient(330deg,
                black, black, black,
                black, black, black,
                black, rgba(255, 59, 59, 0.25), #ff3b3b,
                #ff9a6f, #ff9a6f, #ff9a6f);
}

.star_K_OrangeGiant
{
    background: linear-gradient(330deg,
                black, black, black,
                black, black, black,
                black, black, rgba(255, 140, 13, 0.25),
                #ffb86b, #ffb86b, #ffb86b);
}

/*
Colors for different world types
*/

.ammoniaWorld
{
    background: linear-gradient(200deg,
                transparent, transparent, transparent,
                transparent, transparent, transparent,
                transparent, transparent, transparent,
                rgba(74, 31, 0, .75), #660000, #1f0038);
}

.earthLikeWorld
{
    background: linear-gradient(200deg,
                transparent, transparent, transparent,
                transparent, transparent, transparent,
                transparent, transparent, transparent,
                rgba(87, 250, 244, .50), green, blue);
}

.waterWorld
{
    background: linear-gradient(200deg,
                transparent, transparent, transparent,
                transparent, transparent, transparent,
                transparent, transparent, transparent,
                rgba(88, 96, 245, .50), blue, blue);
}