@import "common.css";

.marketHeader
{
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin: .2em;
    margin-top: .5em;
    border: 2px solid var(--default-divider);
    border-radius: 3px;
    padding: .5em;
}

.marketHeaderRow
{
    text-align: center;
}

.marketHeaderName
{
    font-weight: bold;
    margin-right: .4em;
}

.marketHeaderValue
{
    color: var(--default-text);
}

.marketTypeValue
{
    color: lightgray;
    margin-left: .2em;
}

.marketAge
{
    text-align: right;
    padding-right: .5em;
    border-right: 1px dashed var(--default-divider);
}

.marketData
{
    display: grid;
    grid-template-columns: 5fr 1fr 1fr 1fr 1fr;
    padding: 0.3em;
}

.marketNameHeader
{
    border: solid 1px var(--default-divider);
    border-radius: 3px 0px 0px 3px;
    padding: 3px;
    font-weight: bold;
    text-align: center;
}

.marketQuantityHeader
{
    border: solid 1px var(--default-divider);
    text-align: center;
    font-weight: bold;
    padding: 3px;
}

.marketPriceHeader
{
    border: solid 1px var(--default-divider);
    text-align: center;
    font-weight: bold;
    padding: 3px;
}

.marketProfitHeader
{
    border: solid 1px var(--default-divider);
    text-align: center;
    font-weight: bold;
    padding: 3px;
    border-radius: 0px 3px 3px 0px;
}

.marketName
{
    border: solid 1px var(--default-border);
    border-right: 0px;
    border-radius: 3px 0px 0px 3px;
    padding: 3px;
    color: var(--default-text);
}

.rareName
{
    font-weight: bold;
    color: var(--experimental-color);
}

.marketQuantity
{
    border: solid 1px var(--default-border);
    border-left: 1px dotted var(--default-divider);
    border-right: 0px;
    text-align: center;
    padding: 3px;
    color: var(--default-text);
    font-weight: bold;
}

.marketPrice
{
    border: solid 1px var(--default-border);
    border-left: 1px dotted var(--default-divider);
    border-right: 0px;
    text-align: center;
    padding: 3px;
    color: var(--default-text);
    font-weight: bold;
}

.marketProfit
{
    border: solid 1px var(--default-border);
    border-left: 1px dotted var(--default-divider);
    text-align: center;
    padding: 3px;
    border-radius: 0px 3px 3px 0px;
    color: var(--default-text);
    font-weight: bold;
}

.marketPlaceholder
{
    border: solid 1px var(--default-border);
    border-radius: 3px 3px 3px 3px;
    padding: 1em;
    font-weight: bold;
    text-align: center;
    margin: 4px;
    color: var(--default-text);
}

.queryButton
{
    float: right;
}

.queryResultRow
{
    display: grid;
    grid-template-columns: 1.75fr 1.75fr 1.5fr 1fr 1fr 1fr 1fr;
    color: var(--default-text);
    margin-top: 0em;
    padding-bottom: .2em;
}

.queryResultHeader
{
    font-weight: bold;
    color: var(--default-divider);
    margin-top: .4em;
}

.queryText
{
    text-align: left;
}

.disabled
{
    display: none;
}