@import "common.css";

.binCategory
{
    display: grid;
    grid-template-columns: 5fr .5fr .5fr 15em;
    grid-area: inven;
    padding: 0.3em;
}

.gradeIcon
{
    height: 1.6em;
    margin-top: 0.1em;
    margin-bottom: 0.1em;
}

.binName
{
    border: solid 1px #bd6206;
    border-radius: 3px 0px 0px 3px;
    padding: 5px;
    color: antiquewhite;
}

.binGrade
{
    border: solid 1px #bd6206;
    text-align: center;
}

.binCount
{
    border: solid 1px #bd6206;
    text-align: center;
    padding-top: .35em;
    color: antiquewhite;
}

.binCapacity
{
    border: solid 1px #bd6206;
    text-align: center;
    padding-top: .35em;
    border-radius: 0px 3px 3px 0px;
}

progress
{
    appearance: none;
}

progress::-webkit-progress-value
{
    background: #f07b05;
}

progress::-webkit-progress-bar
{
    background: #333;
}

details > summary
{
  list-style: none;
}

details > summary::-webkit-details-marker
{
  display: none;
}

summary
{
  outline: none;
  cursor: pointer;
}

summary:hover
{
    background: #555;
}