@import "common.css";

.moduleList
{
    display: grid;
    grid-template-columns: 14em auto;
}

.module
{
    border: solid 1px var(--default-border);
    border-left: dotted 1px var(--default-divider);
    padding: 3px;
    padding-left: 6px;
    margin: 3px;
    margin-left: 0px;
    margin-right: 4px;
    border-radius: 0px 3px 3px 0px;
    color: var(--default-text);
    font-size: 1.1em;
}

.slotName
{
    border: solid 1px var(--default-divider);
    border-right: 0px;
    border-radius: 3px 0px 0px 3px;
    padding: 3px;
    padding-right: 6px;
    margin: 3px;
    margin-right: 0px;
    margin-left: 4px;
    text-align: right;
    font-weight: bold;
    font-size: 1.1em;
}






progress::-webkit-progress-value
{
    background: var(--modification-color);
    height: .6em;
    margin-top: .21em;
}

progress::-webkit-progress-bar
{
    height: .6em;
    margin-top: .21em;
}

.modificationProgress
{
    width: 40%;
    margin-left: .5em;
}

.moduleSize
{
    font-family: monospace;
    font-size: 1.1em;
    color: #888;
    font-weight: bold;
}

.moduleClass
{
    font-family: monospace;
    margin-right: .5em;
    font-size: 1.1em;
    color: #888;
    font-weight: bold;
    text-transform: uppercase;
}

.powerPlayClass
{
    text-decoration: underline;
}

.moduleSlots
{
    float: right;
    margin-bottom: -6px;
    font-size: 1.6em;
    margin-top: -.3em;
}

.moduleHealth
{
    float: right;
    margin-right: .2em;
}

.moduleHealthFull
{
    color: var(--positive-color);
}

.moduleHealthHalf
{
    color: var(--experimental-color);
}

.moduleHealthLow
{
    color: var(--negative-color);
}
