@import "common.css";

.moduleList
{
    display: grid;
    grid-template-columns: 14em auto;
}

.module
{
    border: solid 1px var(--default-border);
    border-left: dotted 1px var(--default-divider);
    padding: 3px;
    padding-left: 6px;
    margin: 3px;
    margin-left: 0px;
    margin-right: 4px;
    border-radius: 0px 3px 3px 0px;
    color: var(--default-text);
}

.slotName
{
    border: solid 1px var(--default-divider);
    border-right: 0px;
    border-radius: 3px 0px 0px 3px;
    padding: 3px;
    padding-right: 6px;
    margin: 3px;
    margin-right: 0px;
    margin-left: 4px;
    text-align: right;
    font-weight: bold;
}

.statTable
{
    border-top: 1px dotted var(--default-border);
    display: grid;
}

.statRow
{
    display: grid;
    grid-template-columns: 3fr 3fr 2fr;
}

.statRow:hover > span
{
    background: #572c02;
}

@keyframes slideRight
{
  from { padding-right: 10em; }
  to { padding-right: 5px }
}

@keyframes slideLeft
{
  from { padding-left: 10em; }
  to { padding-left: 5px }
}

.statName
{
    text-align: right;
    padding-right: 8px;
    background: linear-gradient(90deg, black, #222);
    overflow: hidden; /* Ensures the content is not revealed until the animation */
    white-space: nowrap; /* Keeps the content on a single line */
}

.statValue
{
    text-align: right;
    padding-right: 5px;
    background: #222;
    overflow: hidden; /* Ensures the content is not revealed until the animation */
    white-space: nowrap; /* Keeps the content on a single line */
    animation: slideRight 0.1s ease; /*steps(30, end)*/
}

.statUnit
{
    text-align: left;
    padding-left: 5px;
    color: var(--default-color);
    background: linear-gradient(90deg, #222, black);
    animation: slideLeft 0.3s ease;/*steps(30, end)*/
}




progress::-webkit-progress-value
{
    background: var(--modification-color);
    height: .6em;
    margin-top: .21em;
}

progress::-webkit-progress-bar
{
    height: .6em;
    margin-top: .21em;
}

.modificationProgress
{
    width: 40%;
    margin-left: .5em;
}

.moduleSize
{
    font-family: monospace;
    font-size: 1.1em;
    color: #888;
    font-weight: bold;
}

.moduleClass
{
    font-family: monospace;
    margin-right: .5em;
    font-size: 1.1em;
    color: #888;
    font-weight: bold;
}

.moduleHealth
{
    float: right;
    margin-right: .2em;
}

.moduleHealthFull
{
    color: var(--positive-color);
}

.moduleHealthHalf
{
    color: var(--experimental-color);
}

.moduleHealthLow
{
    color: var(--negative-color);
}
