@import "common.css";

.poiFormContainer
{
    height: 10em;
    border: 1px solid var(--default-color);
    border-radius: 3px 3px 3px 3px;
    margin: .2em;
    padding: .5em;
}

.poiTextArea
{
    clear: both;
    height: 8em;
    display: block;
    width: 100%;
    margin-top: .5em;
    margin-bottom: .5em;
}