@import "common.css";

.dataHeader
{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    margin: .2em;
    margin-top: .5em;
    border: 2px solid var(--default-divider);
    border-radius: 3px;
    padding: .5em;
}

.headerEntry
{
    text-align: center;
}

.headerStat
{
    color: var(--default-text);
    padding-left: .2em;
}

.category
{
    font-weight: bold;
    margin: .2em;
    margin-top: .5em;
}

.statRow
{
    display: grid;
    grid-template-columns: auto 15em;
}

.statName
{
    border: 1px solid var(--default-border);
    border-right: 0px;
    color: var(--default-text);
    padding: .2em;
    border-radius: 3px 0px 0px 3px;
    margin: .2em;
    margin-right: 0px;
}

.statValue
{
    font-weight: bold;
    border: 1px solid var(--default-border);
    border-left: 1px dotted var(--default-divider);
    color: var(--default-text);
    padding: .2em;
    border-radius: 0px 3px 3px 0px;
    text-align: center;
    margin: .2em;
    margin-left: 0px;
}

.valueUnit
{
    color: var(--default-color);
    margin-left: .2em;
    margin-right: .2em;
}

.multiplierBracket
{
    color: var(--default-divider);
    margin-left: .2em;
    margin-right: .2em;
}

.statEntryNameHeader
{
    border: solid 1px var(--default-divider);
    border-radius: 3px 0px 0px 3px;
    padding: 3px;
    font-weight: bold;
    text-align: center;
}

.statEntryLeftHeader
{
    border: solid 1px var(--default-divider);
    text-align: center;
    font-weight: bold;
    padding: 3px;
}

.statEntryInnerHeader
{
    border: solid 1px var(--default-divider);
    text-align: center;
    font-weight: bold;
    padding: 3px;
}

.statEntryRightHeader
{
    border: solid 1px var(--default-divider);
    text-align: center;
    font-weight: bold;
    padding: 3px;
    border-radius: 0px 3px 3px 0px;
}

.statEntryName
{
    border: solid 1px var(--default-border);
    border-right: 0px;
    border-radius: 3px 0px 0px 3px;
    padding: 5px;
    color: var(--default-text);
}

.statEntryLeftCap
{
    border: solid 1px var(--default-border);
    border-right: 0px;
    border-radius: 3px 0px 0px 3px;
    text-align: center;
    padding-top: .35em;
    color: var(--default-text);
    font-weight: bold;
}

.statEntryLeft
{
    border: solid 1px var(--default-border);
    border-left: 1px dotted var(--default-divider);
    border-right: 0px;
    text-align: center;
    padding-top: .35em;
    color: var(--default-text);
    font-weight: bold;
}

.statEntryInner
{
    border: solid 1px var(--default-border);
    border-left: 1px dotted var(--default-divider);
    border-right: 1px dotted var(--default-divider);
    text-align: center;
    padding-top: .35em;
    color: var(--default-text);
    font-weight: bold;
}

.statEntryRight
{
    border: solid 1px var(--default-border);
    border-left: dotted 1px var(--default-divider);
    text-align: center;
    padding-top: .35em;
    border-radius: 0px 3px 3px 0px;
    font-weight: bold;
}

.statEntryRightCap
{
    border: solid 1px var(--default-border);
    border-left: dotted 1px var(--default-divider);
    text-align: center;
    padding-top: .35em;
    border-radius: 0px 3px 3px 0px;
    color: var(--default-text);
    font-weight: bold;
}

.defenseStatHeader,
.navigationStatHeader
{
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin: .2em;
    margin-top: .5em;
    border: 2px solid var(--default-divider);
    border-radius: 3px;
    padding: .5em;
}

.offenseTotalsHeader,
.offenseTotalsRow
{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    margin: .2em;
    margin-top: .5em;
}

.offenseHeader,
.offenseRow
{
    display: grid;
    grid-template-columns: 2fr 1fr 1fr 1fr 1fr 1fr;
    margin: .2em;
    margin-top: .5em;
}

.offenseTurretsHeader,
.offenseTurretsRow
{
    display: grid;
    grid-template-columns: 2fr 1fr 1fr;
    margin: .2em;
    margin-top: .5em;
}

.defenseHeader,
.defenseRow
{
    display: grid;
    grid-template-columns: 2fr 1fr 1.5fr 1.5fr 1fr 1fr;
    margin: .2em;
    margin-top: .5em;
}

.powerHeader,
.powerRow
{
    display: grid;
    grid-template-columns: 3fr 1fr 1fr 1fr 1fr;
    margin: .2em;
    margin-top: .5em;
}

.engineerHeader,
.engineerRow
{
    display: grid;
    grid-template-columns: 1.6fr 2fr .8fr 1fr .5fr .5fr;
    margin: .2em;
    margin-top: .5em;
}

.factionHeader,
.factionRow
{
    display: grid;
    grid-template-columns: 2fr 1fr 1fr;
    margin: .2em;
    margin-top: .5em;
}

.navigationHeader,
.navigationRow
{
    display: grid;
    grid-template-columns: 2fr 1fr;
    margin: .2em;
    margin-top: .5em;
}

.bodyRow
{
    display: grid;
    grid-template-columns: 14em auto;
}

.bodyType
{
    border: solid 1px var(--default-divider);
    border-right: 0px;
    border-radius: 3px 0px 0px 3px;
    padding: 3px;
    padding-right: 6px;
    margin: 3px;
    margin-right: 0px;
    margin-left: 4px;
    text-align: right;
    font-weight: bold;
}

.bodyData
{
    border: solid 1px var(--default-border);
    border-left: dotted 1px var(--default-divider);
    padding: 3px;
    padding-left: 6px;
    margin: 3px;
    margin-left: 0px;
    margin-right: 4px;
    border-radius: 0px 3px 3px 0px;
    color: var(--default-text);
}

.expandedSummary
{
    border: solid 1px var(--default-border);
    border-radius: 3px 3px 3px 3px;
    padding-right: .2em;
}

.expandedData
{
    display: grid;
    border: solid 1px var(--default-divider);
    border-radius: 3px 3px 3px 3px;
    padding: .2em;
}

.expandedEntry
{
    display: grid;
    grid-template-columns: auto auto;
}

.expandedName
{
    text-align: left;
}

.landable
{
    background: linear-gradient(
                169deg,
                black, black, black,
                black, black, black,
                black, black, black,
                #111, var(--default-color), var(--default-color));
}

.expandedValue
{
    color: var(--default-color);
    text-align: right;
}

.emptySection
{
    border: solid 1px var(--default-border);
    border-radius: 3px 3px 3px 3px;
    padding: 1em;
    font-weight: bold;
    text-align: center;
    margin: 4px;
    color: var(--default-text);
}

.catalogList
{
    width: 25em;
}

.unused
{
    display: none;
}