.dataHeader
{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    margin: .2em;
    margin-top: .5em;
    border: 2px solid dimgray;
    border-radius: 3px;
    padding: .5em;
}

.headerEntry
{
    text-align: center;
}

.headerStat
{
    color: antiquewhite;
    padding-left: .2em;
}

.category
{
    font-weight: bold;
    margin: .2em;
    margin-top: .5em;
}

.statRow
{
    display: grid;
    grid-template-columns: auto 15em;
}

.statName
{
    border: 1px solid #bd6206;
    border-right: 0px;
    color: antiquewhite;
    padding: .2em;
    border-radius: 3px 0px 0px 3px;
    margin: .2em;
    margin-right: 0px;
}

.statValue
{
    font-weight: bold;
    border: 1px solid #bd6206;
    border-left: 1px dotted dimgray;
    color: antiquewhite;
    padding: .2em;
    border-radius: 0px 3px 3px 0px;
    text-align: center;
    margin: .2em;
    margin-left: 0px;
}

.valueUnit
{
    color: #f07b05;
    margin-left: .2em;
    margin-right: .2em;
}

.unused
{
    display: none;
}