.taskCategorySummary
{
    padding: .2em;
}

.taskCategoryDetails
{
    border: solid 1px var(--default-color);
    font-weight: bold;
    color: var(--alternate-text);
    border-radius: 3px 3px 3px 3px;
    padding: .2em;
    margin: .2em;
    -moz-user-select: none;
    -khtml-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.taskSubCategoryDetails
{
    border: solid 1px var(--default-background);
    border-radius: 3px 3px 3px 3px;
    color: var(--default-color);
    padding: .2em;
    margin: .2em;
}

.taskDetails
{
    color: var(--default-text);
    border: solid 1px var(--default-divider);
    border-radius: 3px 3px 3px 3px;
    padding: .2em;
    margin: .2em;
}

.taskButton
{
    display: block;
    float: right;
    background: transparent;
    color: var(--default-color);
    text-align: left;
    cursor: pointer;
    border-radius: 3px;
    border: 1px solid var(--default-color);
}

.taskAddButton
{
    display: block;
    float: right;
    background: transparent;
    color: var(--default-color);
    text-align: center;
    cursor: pointer;
    width: 2em;
    border-radius: 0px 3px 3px 0px;
    border: 1px solid var(--default-color);
}

.taskSubtractButton
{
    display: block;
    float: right;
    background: transparent;
    color: var(--default-color);
    text-align: center;
    cursor: pointer;
    width: 2em;
    border-radius: 3px 0px 0px 3px;
    border: 1px solid var(--default-color);
}

.taskDeleteButton
{
    display: block;
    float: right;
    background: transparent;
    color: var(--default-color);
    text-align: left;
    cursor: pointer;
    border-radius: 3px;
    border: 1px solid var(--default-color);
}

.taskCount
{
    display: block;
    float: right;
    height: 1.12em;
    width: 3em;
    text-align: center;
    padding-left: 1em;
    padding-right: 1em;
    border: 1px solid var(--default-color);
}

.taskSpacer
{
    float: right;
    width: 1em;
}

.taskButton:hover
{
    background: var(--default-text);
}

.taskButton:active
{
    background: var(--default-color);
}

.taskCostData
{
    display: grid;
    font-weight: normal;
}

.taskCost
{
    display: grid;
    grid-template-columns: auto 1fr;
}

.taskEffectData
{
    display: grid;
    font-weight: normal;
}

.taskEffect
{
    display: grid;
    grid-template-columns: 5fr 1fr 1fr;
}

.taskEffectName
{
    text-align: right;
}

.taskEffectValue
{
    text-align: right;
}

.materialProgress
{
    display: block;
    float: right;
    margin-top: .1em;
}

.materialNeed
{
    display: block;
    float: right;
    margin-right: .5em;
}