@import "common.css";

*
{
    font-family: EUROCAPS;
    color: #f07b05;
}

body
{
    overflow: scroll;
        background: linear-gradient(90deg, #111, black, black, black, black, black, #111);
}

body::-webkit-scrollbar
{
  width: 1em;               /* width of the entire scrollbar */
}

body::-webkit-scrollbar-track
{
  background: black;        /* color of the tracking area */
  border: 1px solid #f07b05;
}

body::-webkit-scrollbar-thumb
{
  background-color: #333;    /* color of the scroll thumb */
  border-radius: 3px;       /* roundness of the scroll thumb */
  border: 2px solid #f07b05;  /* creates padding around scroll thumb */
}

body::-webkit-scrollbar-corner
{
    background: black;
}

.dashboard
{
    border: 2px solid #f07b05;
    height: 9em;
    border-radius: 3px;
    max-width: 59.5em;
    margin: auto;
    display: grid;
    grid-template-columns: auto 17em;
    background: linear-gradient(45deg, #000, #222, #000);
}

.dashboardVitals
{
    display: grid;
    grid-template-columns: 8em auto;
}

.dashboardInfo
{
    display: grid;
    grid-template-columns: 9em auto;
    margin: .5em;
}

.dashboardHeader
{
    font-size: 3em;
    text-align: right;
}

.dashboardValue
{
    font-size: 3em;
    color: antiquewhite;
    text-align: left;
    padding-left: .2em;
    overflow: hidden;
}

.dashboardSmallHeader
{
    font-size: 1.5em;
    text-align: right;
}

.dashboardSmallValue
{
    font-size: 1.5em;
    color: antiquewhite;
    text-align: left;
    padding-left: .5em;
}

.dashboardSmallValueUnpadded
{
    font-size: 1.5em;
    text-align: left;
}

.dashboardTinyHeader
{
    text-align: right;
    font-size: 1em;
}

.dashboardTinyValue
{
    font-size: 1em;
    text-align: left;
    padding-left: .8em;
    color: antiquewhite;
}

.dashboardRankMeter
{
    width: 95%;
    height: .5em;
}

.dashboardFuelMeter
{
    height: .6em;
    vertical-align: baseline;
}


summary
{
  outline: none;
  cursor: pointer;
}

summary:hover
{
    background: #555;
}

details > summary
{
  list-style: none;
}

details > summary::-webkit-details-marker
{
  display: none;
}


.gradeIcon
{
    height: 1.6em;
    margin-top: 0.1em;
    margin-bottom: 0.1em;
}

progress[value]
{
    appearance: none;
}

progress[value]::-webkit-progress-value
{
    background: #f07b05;
}

progress[value]::-webkit-progress-bar
{
    background: #333;
}

.binCategoryHeader
{
    font-weight: bold;
    margin: .2em;
}

.binHeader
{
    display: grid;
    grid-template-columns: 5fr .5fr .5fr 15em;
    grid-area: inven;
    padding: 0.3em;
}

.binHeaderName
{
    border: solid 1px dimgray;
    border-right: 0px;
    border-radius: 3px 0px 0px 3px;
    padding: 3px;
    font-weight: bold;
    text-align: center;
}

.binHeaderGrade
{
    border: solid 1px dimgray;
    border-left: dotted 1px dimgray;
    border-right: dotted 1px dimgray;
    text-align: center;
    font-weight: bold;
    padding: 3px;
}

.binHeaderCount
{
    border: solid 1px dimgray;
    border-left: 0px;
    border-right: 0px;
    text-align: center;
    font-weight: bold;
    padding: 3px;
}

.binHeaderCountEnd
{
    border: solid 1px dimgray;
    border-left: 0px;
    border-radius: 0px 3px 3px 0px;
    text-align: center;
    font-weight: bold;
    padding: 3px;
}


.binHeaderCapacity
{
    border: solid 1px dimgray;
    border-left: dotted 1px dimgray;
    text-align: center;
    font-weight: bold;
    padding: 3px;
    border-radius: 0px 3px 3px 0px;
}



.cargoBinHeader
{
    display: grid;
    grid-template-columns: 5fr .5fr .5fr;
    grid-area: inven;
    padding: 0.3em;
}

.binHeaderType
{
    border: solid 1px dimgray;
    border-left: dotted 1px dimgray;
    border-right: dotted 1px dimgray;
    text-align: center;
    font-weight: bold;
    padding: 3px;
}






#inventory
{
    grid-area: inven;
    border: 1px solid #bd6206;
    width: 90%;
    margin-left: 3em;
}

#commanderInfo
{
    display: grid;
    grid-template:
        "commanderStatsTab commanderRankTab"
        "panel             panel";
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 2em auto;
    max-width: 60em;
    margin-left: auto;
    margin-right: auto;
}

#commanderStatsTab
{
    grid-area: commanderStatsTab;
    border-radius: 5px;
}

#commanderRankTab
{
    grid-area: commanderRankTab;
    border-radius: 5px;
}


#gameMode
{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    margin: .2em;
    border: 1px solid dimgray;
    border-radius: 3px;
}

.modeType
{
    text-align: center;
}

.modeStat
{
    color: antiquewhite;
}






.tabInput:disabled + label
{
    background: #ccc;
    color: #777;
    cursor: not-allowed;
}

.tabInput
{
    position: absolute;
    opacity: 0;
}

.tabInput:focus + .tabLabel
{
    z-index: 1;
}

.tabInput:checked + .tabLabel
{
    background: #f07b05;
    color: black;
}
    
.tabInput:checked + .tabLabel + .tabPanel
{
    display: block;
}

.tabLabel
{
    width: auto;
    text-align: center;
    padding-top: 4.5px;
    padding-left: 5px;
    background: black;
    cursor: pointer;
    font-weight: bold;
    color: darkgray;
    transition: background 0.1s, color 0.1s;
    border: 2px solid #bd6206;
    /*box-shadow: 2px 2px #f07b05;*/
    margin: 1px;
}

.tabLabel:hover
{
    background: #f07b05;
    color: #fff;
}

.tabLabel:active
{
    background: #fff;
}

.tabPanel
{
    grid-area: panel;
    display: none;
    /*background: #eee;*/
}



/* Main Sections */

#sections
{
    display: grid;
    grid-template-areas:
    "cmdrTab shipTab inventoryTab navigationTab taskTab"
    "panel   panel   panel        panel         panel";
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 2em auto;
    /*background: #efefef;*/
    max-width: 60em;
    margin-left: auto;
    margin-right: auto;
}

#cmdrTab
{
    grid-area: cmdrTab;
    border-radius: 5px;
}

#shipTab
{
    grid-area: shipTab;
    border-radius: 5px;
}

#inventoryTab
{
    grid-area: inventoryTab;
    border-radius: 5px;
}

#navigationTab
{
    grid-area: navigationTab;
    border-radius: 5px;
}

#taskTab
{
    grid-area: taskTab;
    border-radius: 5px;
}




/* Star Ship Tabs */

#shipContainer
{
    display: grid;
    grid-template-areas:
    "loadoutTab systemsTab"
    "panel panel";
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 2em auto;
    /*background: #efefef;*/
}

#loadoutTab
{
    grid-area: loadoutTab;
    border-radius: 5px;
}

#systemsTab
{
    grid-area: systemsTab;
    border-radius: 5px;
}


/* Loadout Tabs */

#loadoutContainer
{
    display: grid;
    grid-template-areas:
    "coreInternalsTab optionalInternalsTab hardpointsTab"
    "panel            panel                panel";
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 2em auto;
    /*background: #efefef;*/
}

#coreInternalsTab
{
    grid-area: coreInternalsTab;
    border-radius: 5px;
}

#optionalInternalsTab
{
    grid-area: optionalInternalsTab;
    border-radius: 5px;
}

#hardpointsTab
{
    grid-area: hardpointsTab;
    border-radius: 5px;
}


/* Systems Tabs */

#systemsContainer
{
    display: grid;
    grid-template-areas:
    "offenseTab defenseTab agilityTab"
    "panel      panel      panel";
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 2em auto;
    /*background: #efefef;*/
}

#offenseTab
{
    grid-area: offenseTab;
    border-radius: 5px;
}

#defenseTab
{
    grid-area: defenseTab;
    border-radius: 5px;
}

#agilityTab
{
    grid-area: agilityTab;
    border-radius: 5px;
}







/* Inventory Tabs*/

#inventoryContainer
{
    display: grid;
    grid-template-areas:
    "matsTab cargoTab marketTab"
    "panel   panel    panel";
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 2em auto;
    /*background: #efefef;*/
}

#matsTab
{
    grid-area: matsTab;
    border-radius: 5px;
}

#cargoTab
{
    grid-area: cargoTab;
    border-radius: 5px;
}

#marketTab
{
    grid-area: marketTab;
    border-radius: 5px;
}








/* Material Inventory */

#materialsContainer
{
    display: grid;
    grid-template-areas:
    "rawTab encTab manufacturedTab"
    "panel  panel  panel";
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 2em auto;
    /*background: #efefef;*/
}

#rawTab
{
    grid-area: rawTab;
    border-radius: 5px;
}
#encTab
{
    grid-area: encTab;
    border-radius: 5px;
}
#manufacturedTab
{
    grid-area: manufacturedTab;
    border-radius: 5px;
}



