@import "common.css";

*
{
    color: var(--default-color);
}

body
{
    overflow: scroll;
    background: linear-gradient(90deg, #111, black, black, black, black, black, #111);
}


.dashboard
{
    border: 2px solid var(--default-color);
    height: 12em;
    border-radius: 3px;
    max-width: 69.5em;
    margin: auto;
    display: grid;
    grid-template-columns: auto 17em;
    background: linear-gradient(45deg, #000, #222, #000);
}

.dashboardVitals
{
    display: grid;
    grid-template-columns: 8em auto;
}

.dashboardInfo
{
    display: grid;
    grid-template-columns: 9em auto;
    margin: .5em;
}

.dashboardHeader
{
    font-size: 3em;
    text-align: right;
}

.dashboardValue
{
    font-size: 3em;
    color: var(--default-text);
    text-align: left;
    padding-left: .2em;
    overflow: hidden;
}

.dashboardSmallHeader
{
    font-size: 1.5em;
    text-align: right;
}

.dashboardSmallValue
{
    font-size: 1.5em;
    color: var(--default-text);
    text-align: left;
    padding-left: .5em;
}

.dashboardSmallValueUnpadded
{
    font-size: 1.5em;
    text-align: left;
}

.dashboardTinyHeader
{
    text-align: right;
    font-size: 1em;
}

.dashboardTinyValue
{
    font-size: 1em;
    text-align: left;
    padding-left: .8em;
    color: var(--default-text);
}

.dashboardRankMeter
{
    width: 95%;
    height: .5em;
}


.dashboardShipDetails
{
    display: grid;
    grid-template-columns: auto auto min-content;
    max-width: max-content;
}

.dashboardFuelGrid
{
    display: inline-grid;
    grid-template-rows: .2em .5em;
    margin-top: .3em;
    margin-left: .3em;
}

.dashboardFuelReservoir
{
    height: .1em;
    vertical-align: baseline;
    margin-bottom: .1em;
}

.dashboardFuelMeter
{
    height: .4em;
    vertical-align: baseline;
}

.dashboardFuelLabel
{
    margin-left: .3em;
}


summary
{
  outline: none;
  cursor: pointer;
}

summary:hover
{
    background: #555;
}

details > summary
{
  list-style: none;
}

details > summary::-webkit-details-marker
{
  display: none;
}


.gradeIcon
{
    height: 1.6em;
    margin-top: 0.1em;
    margin-bottom: 0.1em;
}



.binCategoryHeader
{
    font-weight: bold;
    margin: .2em;
}

.binHeader
{
    display: grid;
    grid-template-columns: 5fr .5fr .5fr 15em;
    grid-area: inven;
    padding: 0.3em;
}

.binHeaderName
{
    border: solid 1px var(--default-divider);
    border-radius: 3px 0px 0px 3px;
    padding: 3px;
    font-weight: bold;
    text-align: center;
}

.binHeaderGrade
{
    border: solid 1px var(--default-divider);
    text-align: center;
    font-weight: bold;
    padding: 3px;
}

.binHeaderCount
{
    border: solid 1px var(--default-divider);
    text-align: center;
    font-weight: bold;
    padding: 3px;
}

.binHeaderCountEnd
{
    border: solid 1px var(--default-divider);
    border-radius: 0px 3px 3px 0px;
    text-align: center;
    font-weight: bold;
    padding: 3px;
}


.binHeaderCapacity
{
    border: solid 1px var(--default-divider);
    text-align: center;
    font-weight: bold;
    padding: 3px;
    border-radius: 0px 3px 3px 0px;
}



.cargoBinHeader
{
    display: grid;
    grid-template-columns: 5fr .5fr .5fr;
    grid-area: inven;
    padding: 0.3em;
}

.binHeaderType
{
    border: solid 1px var(--default-divider);
    text-align: center;
    font-weight: bold;
    padding: 3px;
}

#inventory
{
    grid-area: inven;
    border: 1px solid var(--default-border);
    width: 90%;
    margin-left: 3em;
}





#commanderInfo
{
    display: grid;
    grid-template:
        "inventoryTab politicsTab engineersRankTab commanderStatsTab"
        "panel        panel       panel            panel";
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 2em auto;
    margin-left: auto;
    margin-right: auto;
}

#inventoryTab
{
    grid-area: inventoryTab;
    border-radius: 5px;
}

#politicsTab
{
    grid-area: politicsTab;
    border-radius: 5px;
}

#engineersRankTab
{
    grid-area: engineersRankTab;
    border-radius: 5px;
}

#commanderStatsTab
{
    grid-area: commanderStatsTab;
    border-radius: 5px;
}




#gameMode
{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    margin: .2em;
    margin-top: .5em;
    border: 2px solid var(--default-divider);
    border-radius: 3px;
    padding: .5em;
}

.modeType
{
    text-align: center;
}

.modeStat
{
    color: var(--default-text);
}






.tabInput:disabled + label
{
    background: #ccc;
    color: #777;
    cursor: not-allowed;
}

.tabInput
{
    position: absolute;
    opacity: 0;
}

.tabInput:focus + .tabLabel
{
    z-index: 1;
}

.tabInput:checked + .tabLabel
{
    background: var(--default-color);
    color: black;
}
    
.tabInput:checked + .tabLabel + .tabPanel
{
    display: block;
}

.tabLabel
{
    width: auto;
    text-align: center;
    padding-top: 4.5px;
    padding-left: 5px;
    background: black;
    cursor: pointer;
    font-weight: bold;
    color: darkgray;
    transition: background 0.1s, color 0.1s;
    border: 2px solid var(--default-border);
    /*box-shadow: 2px 2px #f07b05;*/
    margin: 1px;
}

.tabLabel:hover
{
    background: var(--default-color);
    color: #fff;
}

.tabLabel:active
{
    background: #fff;
}

.tabPanel
{
    grid-area: panel;
    display: none;
    /*background: #eee;*/
}



/* Main Sections */

#sections
{
    display: grid;
    grid-template-areas:
    "cmdrTab shipTab marketTab astrometricsTab activitiesTab"
    "panel   panel   panel     panel           panel";
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 2em auto;
    max-width: 70em;
    margin-left: auto;
    margin-right: auto;
}

#cmdrTab
{
    grid-area: cmdrTab;
    border-radius: 5px;
}

#shipTab
{
    grid-area: shipTab;
    border-radius: 5px;
}

#marketTab
{
    grid-area: marketTab;
    border-radius: 5px;
}

#astrometricsTab
{
    grid-area: astrometricsTab;
    border-radius: 5px;
}

#activitiesTab
{
    grid-area: activitiesTab;
    border-radius: 5px;
}




/* Star Ship Tabs */

#shipContainer
{
    display: grid;
    grid-template-areas:
    "loadoutTab cargoTab systemsTab baseStatsTab"
    "panel      panel        panel      panel";
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 2em auto;
}

#loadoutTab
{
    grid-area: loadoutTab;
    border-radius: 5px;
}

#cargoTab
{
    grid-area: cargoTab;
    border-radius: 5px;
}

/*
#inventoryTab
{
    grid-area: inventoryTab;
    border-radius: 5px;
}
*/

#systemsTab
{
    grid-area: systemsTab;
    border-radius: 5px;
}

#baseStatsTab
{
    grid-area: baseStatsTab;
    border-radius: 5px;
}



/* Loadout Tabs */

#loadoutContainer
{
    display: grid;
    grid-template-areas:
    "coreInternalsTab optionalInternalsTab hardpointsTab"
    "panel            panel                panel";
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 2em auto;
}

#coreInternalsTab
{
    grid-area: coreInternalsTab;
    border-radius: 5px;
}

#optionalInternalsTab
{
    grid-area: optionalInternalsTab;
    border-radius: 5px;
}

#hardpointsTab
{
    grid-area: hardpointsTab;
    border-radius: 5px;
}


/* Systems Tabs */

#systemsContainer
{
    display: grid;
    grid-template-areas:
    "offenseTab defenseTab powerTab"
    "panel      panel      panel";
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 2em auto;
}

#offenseTab
{
    grid-area: offenseTab;
    border-radius: 5px;
}

#defenseTab
{
    grid-area: defenseTab;
    border-radius: 5px;
}

#powerTab
{
    grid-area: powerTab;
    border-radius: 5px;
}


/* Inventory Tabs*/

#inventoryContainer
{
    display: grid;
    grid-template-areas:
    "matsTab microMatsTab"
    "panel   panel";
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 2em auto;
}

#matsTab
{
    grid-area: matsTab;
    border-radius: 5px;
}

#microMatsTab
{
    grid-area: microMatsTab;
    border-radius: 5px;
}

/*
#cargoTab
{
    grid-area: cargoTab;
    border-radius: 5px;
}
*/



#marketContainer
{
    display: grid;
    grid-template-areas:
    "currentMarketTab marketSearchTab"
    "panel            panel";
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 2em auto;
}

#currentMarketTab
{
    grid-area: currentMarketTab;
    border-radius: 5px;
}

#marketSearchTab
{
    grid-area: marketSearchTab;
    border-radius: 5px;
}



#currentMarketContainer
{
    display: grid;
    grid-template-areas:
    "commodityTab outfittingTab shipyardTab"
    "panel        panel         panel";
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 2em auto;
}

#commodityTab
{
    grid-area: commodityTab;
    border-radius: 5px;
}

#outfittingTab
{
    grid-area: outfittingTab;
    border-radius: 5px;
}

#shipyardTab
{
    grid-area: shipyardTab;
    border-radius: 5px;
}








/* Material Inventory */

#materialsContainer
{
    display: grid;
    grid-template-areas:
    "rawTab encTab manufacturedTab"
    "panel  panel  panel";
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 2em auto;
}

#rawTab
{
    grid-area: rawTab;
    border-radius: 5px;
}
#encTab
{
    grid-area: encTab;
    border-radius: 5px;
}
#manufacturedTab
{
    grid-area: manufacturedTab;
    border-radius: 5px;
}



/* Micro-Material Inventory */

#microMaterialsContainer
{
    display: grid;
    grid-template-areas:
    "assetsTab goodsTab dataTab consumablesTab"
    "panel     panel    panel   panel";
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 2em auto;
}

#assetsTab
{
    grid-area: assetsTab;
    border-radius: 5px;
}

#goodsTab
{
    grid-area: goodsTab;
    border-radius: 5px;
}

#dataTab
{
    grid-area: dataTab;
    border-radius: 5px;
}

#consumablesTab
{
    grid-area: consumablesTab;
    border-radius: 5px;
}






/* Astrometrics */

#astrometricsContainer
{
    display: grid;
    grid-template-areas:
    "navigationTab cartographicsTab"
    "panel    panel";
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 2em auto;
}

#navigationTab
{
    grid-area: navigationTab;
    border-radius: 5px;
}

#cartographicsTab
{
    grid-area: cartographicsTab;
    border-radius: 5px;
}

#navigationContainer
{
    display: grid;
    grid-template-areas:
    "routeTab gpsTab"
    "panel    panel";
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 2em auto;
}

#routeTab
{
    grid-area: routeTab;
    border-radius: 5px;
}

#gpsTab
{
    grid-area: gpsTab;
    border-radius: 5px;
}


/* Cartographic Data */

#cartographicsContainer
{
    display: grid;
    grid-template-areas:
    "currentTab catalogTab"
    "panel    panel";
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 2em auto;
}

#currentTab
{
    grid-area: currentTab;
    border-radius: 5px;
}

#catalogTab
{
    grid-area: catalogTab;
    border-radius: 5px;
}


/* POI Data */

#poiContainer
{
    display: grid;
    grid-template-areas:
    "currentPoiTab galaxyPoiTab"
    "panel         panel";
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 2em auto;
}

#currentPoiTab
{
    grid-area: currentPoiTab;
    border-radius: 5px;
}

#galaxyPoiTab
{
    grid-area: galaxyPoiTab;
    border-radius: 5px;
}


#activitiesContainer
{
    display: grid;
    grid-template:
        "communityTab missionTab tasksTab"
        "panel        panel      panel";
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 2em auto;
    margin-left: auto;
    margin-right: auto;
}

#communityTab
{
    grid-area: communityTab;
    border-radius: 5px;
}

#missionTab
{
    grid-area: missionTab;
    border-radius: 5px;
}

#tasksTab
{
    grid-area: tasksTab;
    border-radius: 5px;
}



#taskContainer
{
    display: grid;
    grid-template:
        "plannedTab requiredTab taskListTab"
        "panel      panel       panel";
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 2em auto;
    margin-left: auto;
    margin-right: auto;
}

#plannedTab
{
    grid-area: plannedTab;
    border-radius: 5px;
}

#requiredTab
{
    grid-area: requiredTab;
    border-radius: 5px;
}

#taskListTab
{
    grid-area: taskListTab;
    border-radius: 5px;
}

.slottedName
{
    font-weight: bold;
    color: var(--default-color);
}

.slottedValue
{
    color: var(--default-text);
}

.queryHeaderType
{
    border: 1px solid var(--default-divider);
    border-top: 0px;
    border-bottom: 0px;
    border-radius: 3px;
    text-align: left;
    margin: .3em;
    margin-top: -.4em;
    padding: .3em;
    color: var(--default-border);
}

.queryContainer
{
    border: 1px solid var(--default-divider);
    border-top: 0px;
    border-radius: 0px 0px 3px 3px;
    text-align: center;
    margin: .3em;
    margin-top: -.4em;
    padding: .3em;
    color: var(--default-border);
}

.itemQueryContainer
{
    border: solid 1px var(--default-border);
    border-radius: 3px 3px 3px 3px;
    padding: 1em;
    font-weight: bold;
    text-align: center;
    margin: .2em;
    color: var(--default-text);
}