@import "common.css";

*
{
    font-family: EUROCAPS;
    color: #f07b05;
}

body
{
    overflow: scroll;
    background: black
}

body::-webkit-scrollbar
{
  width: 1em;               /* width of the entire scrollbar */
}

body::-webkit-scrollbar-track
{
  background: black;        /* color of the tracking area */
  border: 1px solid #f07b05;
}

body::-webkit-scrollbar-thumb
{
  background-color: #333;    /* color of the scroll thumb */
  border-radius: 3px;       /* roundness of the scroll thumb */
  border: 2px solid #f07b05;  /* creates padding around scroll thumb */
}

body::-webkit-scrollbar-corner
{
    background: black;
}

summary
{
  outline: none;
  cursor: pointer;
}

summary:hover
{
    background: #555;
}

details > summary
{
  list-style: none;
}

details > summary::-webkit-details-marker
{
  display: none;
}


.gradeIcon
{
    height: 1.6em;
    margin-top: 0.1em;
    margin-bottom: 0.1em;
}

progress[value]
{
    appearance: none;
}

progress[value]::-webkit-progress-value
{
    background: #f07b05;
}

progress[value]::-webkit-progress-bar
{
    background: #333;
}

.binCategoryHeader
{
    font-weight: bold;
    margin: .2em;
}

.binHeader
{
    display: grid;
    grid-template-columns: 5fr .5fr .5fr 15em;
    grid-area: inven;
    padding: 0.3em;
}

.binHeaderName
{
    border: solid 1px dimgray;
    border-radius: 3px 0px 0px 3px;
    padding: 3px;
    font-weight: bold;
    text-align: center;
}

.binHeaderGrade
{
    border: solid 1px dimgray;
    text-align: center;
    font-weight: bold;
    padding: 3px;
}

.binHeaderCount
{
    border: solid 1px dimgray;
    text-align: center;
    font-weight: bold;
    padding: 3px;
}

.binHeaderCapacity
{
    border: solid 1px dimgray;
    text-align: center;
    font-weight: bold;
    padding: 3px;
    border-radius: 0px 3px 3px 0px;
}




.cargoBinHeader
{
    display: grid;
    grid-template-columns: 5fr .5fr .5fr;
    grid-area: inven;
    padding: 0.3em;
}

.binHeaderType
{
    border: solid 1px dimgray;
    text-align: center;
    font-weight: bold;
    padding: 3px;
}






#inventory
{
    grid-area: inven;
    border: 1px solid #bd6206;
    width: 90%;
    margin-left: 3em;
}

#commanderInfo
{
    display: grid;
    grid-template:
        "card1 card2 card3 card4 card5"
        "inven inven inven inven inven";
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    /*width: 90%;*/
    /*margin-left: 3em;*/
}

.card
{
    box-shadow: 0 4px 8px 0 #f07b05;
    transition: 0.3s;
    padding: 20px;
}

#card1
{
    grid-area: card1;
}

#card2
{
    grid-area: card2;
}

#card3
{
    grid-area: card3;
}

#card4
{
    grid-area: card4;
}

#card5
{
    grid-area: card5;
}

.card:hover
{
    box-shadow: 0 8px 16px 0 #f07b05;
}




.tabInput:disabled + label
{
    background: #ccc;
    color: #777;
    cursor: not-allowed;
}

.tabInput
{
    position: absolute;
    opacity: 0;
}

.tabInput:focus + .tabLabel
{
    z-index: 1;
}

.tabInput:checked + .tabLabel
{
    background: #f07b05;
    color: black;
}
    
.tabInput:checked + .tabLabel + .tabPanel
{
    display: block;
}

.tabLabel
{
    width: auto;
    text-align: center;
    padding-top: 4.5px;
    padding-left: 5px;
    background: black;
    cursor: pointer;
    font-weight: bold;
    color: antiquewhite;
    transition: background 0.1s, color 0.1s;
    border: 2px solid #bd6206;
    /*box-shadow: 2px 2px #f07b05;*/
    margin: 1px;
}

.tabLabel:hover
{
    background: #f07b05;
    color: #fff;
}

.tabLabel:active
{
    background: #fff;
}

.tabPanel
{
    grid-area: panel;
    display: none;
    /*background: #eee;*/
}



/* Main Sections */

#sections
{
    display: grid;
    grid-template-areas:
    "cmdrTab careersTab matsTab loadoutTab taskTab"
    "panel   panel      panel   panel      panel";
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 2em auto;
    /*background: #efefef;*/
    max-width: 60em;
    margin-left: auto;
    margin-right: auto;
}

#cmdrTab
{
    grid-area: cmdrTab;
    border-radius: 5px;
}
#careersTab
{
    grid-area: careersTab;
    border-radius: 5px;
}
#matsTab
{
    grid-area: matsTab;
    border-radius: 5px;
}
#loadoutTab
{
    grid-area: loadoutTab;
    border-radius: 5px;
}
#taskTab
{
    grid-area: taskTab;
    border-radius: 5px;
}







/* Career Focused Tabs */

#careersContainer
{
    display: grid;
    grid-template-areas:
    "combatTab tradeTab explorationTab"
    "panel     panel    panel";
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 2em auto;
    /*background: #efefef;*/
}

#combatTab
{
    grid-area: combatTab;
    border-radius: 5px;
}
#tradeTab
{
    grid-area: tradeTab;
    border-radius: 5px;
}
#explorationTab
{
    grid-area: explorationTab;
    border-radius: 5px;
}


/* Combat Tabs*/

#combatContainer
{
    display: grid;
    grid-template-areas:
    "offenseTab defenseTab"
    "panel      panel     ";
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 2em auto;
    /*background: #efefef;*/
}

#offenseTab
{
    grid-area: offenseTab;
    border-radius: 5px;
}
#defenseTab
{
    grid-area: defenseTab;
    border-radius: 5px;
}


/* Trade Tabs*/

#tradeContainer
{
    display: grid;
    grid-template-areas:
    "cargoTab   marketTab"
    "panel      panel    ";
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 2em auto;
    /*background: #efefef;*/
}

#cargoTab
{
    grid-area: cargoTab;
    border-radius: 5px;
}

#marketTab
{
    grid-area: marketTab;
    border-radius: 5px;
}








/* Material Inventory */

#inventoryContainer
{
    display: grid;
    grid-template-areas:
    "rawTab encTab manufacturedTab"
    "panel  panel  panel";
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 2em auto;
    /*background: #efefef;*/
}

#rawTab
{
    grid-area: rawTab;
    border-radius: 5px;
}
#encTab
{
    grid-area: encTab;
    border-radius: 5px;
}
#manufacturedTab
{
    grid-area: manufacturedTab;
    border-radius: 5px;
}



/* Loadout */

#loadoutContainer
{
    display: grid;
    grid-template-areas:
    "coreInternalsTab optionalInternalsTab hardpointsTab"
    "panel            panel                panel";
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 2em auto;
    /*background: #efefef;*/
}

#coreInternalsTab
{
    grid-area: coreInternalsTab;
    border-radius: 5px;
}

#optionalInternalsTab
{
    grid-area: optionalInternalsTab;
    border-radius: 5px;
}

#hardpointsTab
{
    grid-area: hardpointsTab;
    border-radius: 5px;
}