@font-face
{
    src: url('Sintony-Bold.ttf');
}

@font-face
{
    src: url('Sintony-Regular.ttf');
}

@font-face
{
    src: url('EUROCAPS.TTF');
}

/*
There's a few top-level items that rely on this "root" style definition
*/
.root
{
    -fx-accent: #cccccc;
    -fx-focus-color: #cccccc;
    -fx-text-base-color: rgb(225, 150, 90);
    -fx-background: #222222;
    -fx-font-family: 'Euro Caps';
}

/*
Global settings for table view elements
*/

.table-view
{
   -fx-background-color: transparent;
}

.table-view .column-header
{
    -fx-background-color: #333333;
    -fx-text-fill: rgb(200, 200, 200);
}

.table-view .filler
{
    -fx-background-color: #333333;
}

.table-row-cell:odd
{
    -fx-background-color: transparent;
}

.table-row-cell:even
{
    -fx-background-color: transparent;
}

.table-view .table-cell
{
    -fx-background-color: #222222;
    -fx-text-fill: rgb(225, 150, 90);
}

.table-view .column-header-background,
.tree-table-view > .column-header-background
{
    -fx-background-color: #333333;
}

.scroll-bar
{
    -fx-block-increment: 1;
    -fx-unit-increment: 1;
}

/*
Color call checkboxes to look uniform
*/
.check-box .box
{
    -fx-background-color: #11111111;
    -fx-border-color:grey;
    -fx-border-radius:3px;
}

.check-box:selected .mark
{
    -fx-background-color: rgb(225, 150, 90);
}

.check-box:selected .box
{
    -fx-background-color: #222222;
}


/*
The background of all progress bars
*/
.progress-bar > .track
{
  -fx-control-inner-background: #111111;
}


/*
Global settings for tab panes
*/
.tab-pane tab:selected
{
    -fx-background-color: #222222;
}

.tab-pane .tab
{
    -fx-background-color: #222222;
    -fx-font-size: 14px;
    -fx-font-weight: bold;
}


/*
Global settings for titled panes (drop down menus)
*/
.titled-pane:hover > .title
{
    -fx-background-color:
        #665544,
        linear-gradient(#666666, #777777),
        linear-gradient(#665544 0%, #675645 49%, #675645 50%, #776655 100%);
    -fx-background-radius: 3,2,1;
}


.titled-pane > *.content
{
    -fx-background-color: transparent;
    -fx-border-width: 0 0 0 0;
}





/*
The main headers for most tabs use this font, EX: ship name/ID on loadout tab
*/
.header_font_large
{
    -fx-font-family: 'Euro Caps';
    -fx-font-size: 40;
}


/*
Sub-headers use this font, EX: ship make/model on loadout tab
*/
.header_font_small
{
    -fx-font-family: 'Euro Caps';
    -fx-font-size: 24;
}


/*
Pretty much everything else uses this font, there's just a couple things that fall back to the "root" font
*/
.base_font
{
    -fx-font-family: 'Euro Caps';
    -fx-font-size: 18;
}


/*
Used for a few places where only the font family is wanted, usually smaller text
*/
.base_font_style_only
{
    -fx-font-family: 'Euro Caps';
}







.add_task_button
{
    -fx-text-fill: rgb(0, 0, 0);
    -fx-base: #88cc88;
}




.modification_pane .title
{
    -fx-background-color:
        #665544,
        linear-gradient(#332211 0%, #342312 49%, #342312 50%, #443322 100%);
    -fx-background-radius: 3,2,1;
}

.experiment_pane .title
{
    -fx-background-color:
        #665544,
        linear-gradient(#333011 0%, #343112 49%, #343112 50%, #444022 100%);
    -fx-background-radius: 3,2,1;
}

.stats_pane .title
{
    -fx-background-color:
        #333333,
        linear-gradient(#222222 0%, #232323 49%, #232323 50%, #333333 100%);
    -fx-background-radius: 3,2,1;
    -fx-border-width: 1 1 0 1;
    -fx-border-color: #444444;
}

.stats_pane > *.content
{
    -fx-background-color: transparent;
    -fx-border-width: 0 1 1 1;
    -fx-border-color: #444444;
}


/* The column cell text size should be 16 */
.market_table .table-column
{
  -fx-alignment: CENTER;
  -fx-font-size: 16;
  -fx-font-weight: bold;
}

/* The column header text size should be 12, this is needed to override the column level text size */
.market_table .column-header-background .nested-column-header .column-header
{
  -fx-alignment: CENTER;
  -fx-font-size: 12;
  -fx-font-weight: bold;
  -fx-background-color: #333333;
}

/*
Backing style for general panels that contain information, ex: ship stats, market data, inventory, etc.
This is typically applied to the "background" portion of these panels
*/
.general_panel
{
   -fx-background-color: #111111;
}

.general_panel > .title
{
    -fx-background-color: transparent;
}

.general_panel_label
{
    -fx-text-fill: rgb(225, 150, 90);
    -fx-background-color: transparent;
}

.light_color_label
{
   -fx-text-fill: rgb(200, 200, 200);
   -fx-background-color: transparent;
}

/*
Main data panels that contain information, ex: ship stats, market data, inventory, etc.
This is typically applied to the "foreground" portion of these panels
*/
.information_panel
{
    -fx-background-color: #333333;
}

.information_panel > .title
{
    -fx-background-color: #333333;
}

.information_header
{
    -fx-text-fill: rgb(225, 150, 90);
}

.market_data_info
{
    -fx-text-fill: rgb(225, 255, 255);
}

.hidden
{
    visibility: hidden;
}

.no_border
{
    -fx-border-width: 0 0 0 0;
}

.no_header .column-header-background
{
    -fx-max-height: 0;
    -fx-pref-height: 0;
    -fx-min-height: 0;
}

.no_scrollbars .scroll-bar *
{
    -fx-min-width: 0;
    -fx-pref-width: 0;
    -fx-max-width: 0;

    -fx-min-height: 0;
    -fx-pref-height: 0;
    -fx-max-height: 0;
}

/*
Ship module statistics tables
*/
.stat_table
{
    -fx-fixed-cell-size: 31;
}

.stat_table .table-row-cell
{
    -fx-border-color: #444444;
    -fx-table-cell-border-color:#222222;
}

.general_stat_label
{
    -fx-text-fill: rgb(200, 200, 200);
    -fx-background-color: transparent;
}

.guardian_stat_label
{
    -fx-text-fill: #0077cc;
    -fx-background-color: transparent;
}

.anti_xeno_stat_label
{
    -fx-text-fill: #025B30;
    -fx-background-color: transparent;
}

.experimental_stat_label
{
    -fx-text-fill: #ffb000;
    -fx-background-color: transparent;
}

.general_stat_table .column-header > .label
{
    -fx-background-color: #333333;
    -fx-font-size: 12;
    -fx-font-weight: bold;
    -fx-text-fill: rgb(200, 200, 200);
}

.module_table
{
    -fx-border-color: transparent;
}

.module_table .table-row-cell
{
    -fx-table-cell-border-color: #333333;
}

.material_trade_button
{
    -fx-background-color:
        #444444,
        linear-gradient(#444444, #555555),
        linear-gradient(#444444 0%, #454545 49%, #454545 50%, #555555 100%);
    -fx-background-radius: 3,2,1;
}

.material_trade_button:hover
{
    -fx-background-color:
        #665544,
        linear-gradient(#666666, #777777),
        linear-gradient(#665544 0%, #675645 49%, #675645 50%, #776655 100%);
    -fx-background-radius: 3,2,1;
}

.task_count_button
{
    -fx-background-color:
        #555555,
        linear-gradient(#555555, #666666),
        linear-gradient(#555555 0%, #565656 49%, #565656 50%, #666666 100%);
    -fx-background-radius: 3,2,1;
}

.task_count_button:hover
{
    -fx-background-color:
        #665544,
        linear-gradient(#676767, #787878),
        linear-gradient(#776655 0%, #786756 49%, #786756 50%, #887766 100%);
    -fx-background-radius: 3,2,1;
}

.inventory_label
{
    -fx-text-fill: rgb(225, 150, 90);
}

.message_list .scroll-bar:horizontal .increment-arrow,
.message_list .scroll-bar:horizontal .decrement-arrow,
.message_list .scroll-bar:horizontal .increment-button,
.message_list .scroll-bar:horizontal .decrement-button
{
    -fx-padding:0;
}
