/* The column cell text size should be 16 */
.market_table .table-column
{
  -fx-alignment: CENTER;
  -fx-font-size: 16;
  -fx-font-weight: bold;
}

/* The column header text size should be 12, this is needed to override the column level text size */
.market_table .column-header-background .nested-column-header .column-header
{
  -fx-alignment: CENTER;
  -fx-font-size: 12;
  -fx-font-weight: bold;
}

.hidden
{
    visibility: hidden;
}

.root
{
    /* A bright blue for highlighting/accenting objects.  For example: selected
     * text; selected items in menus, lists, trees, and tables; progress bars;
     * default buttons.
     */
    -fx-accent: #ffffff;

    /* A bright blue for the focus indicator of objects. Typically used as the
     * first color in -fx-background-color for the "focused" pseudo-class. Also
     * typically used with insets of -1.4 to provide a glowing effect.
     *
     * TODO: should this be derived from -fx-accent?
     */
    -fx-focus-color: #ffffff;
}