summary
{
  outline: none;
  cursor: pointer;
}

summary:hover
{
    background: orange;
}

details > summary
{
  list-style: none;
}

details > summary::-webkit-details-marker
{
  display: none;
}





.binCategory
{
    display: grid;
    grid-template-columns: 5fr .5fr .5fr 2fr;
    grid-area: inven;
    padding: 0.3em;
}

.binHeader
{
    display: grid;
    grid-template-columns: 5fr .5fr .5fr 2fr;
    grid-area: inven;
    padding: 0.3em;
}

.binName
{
    border: solid 1px;
    background: lightcyan;
    border-radius: 3px;
    padding: 3px;
}

.binGrade
{
    border: solid 1px;
}

.binCount
{
    border: solid 1px;
}

.binCapacity
{
    border: solid 1px;
}


#inventory
{
    grid-area: inven;
    border: 1px solid black;
    width: 90%;
    margin-left: 3em;
}

#commanderInfo
{
    display: grid;
    grid-template:
        "card1 card2 card3 card4 card5"
        "inven inven inven inven inven";
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    /*width: 90%;*/
    /*margin-left: 3em;*/
}

.card
{
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    transition: 0.3s;
    padding: 20px;
}

#card1
{
    grid-area: card1;
}

#card2
{
    grid-area: card2;
}

#card3
{
    grid-area: card3;
}

#card4
{
    grid-area: card4;
}

#card5
{
    grid-area: card5;
}

.card:hover
{
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
}




.tabInput:disabled + label
{
    background: #ccc;
    color: #777;
    cursor: not-allowed;
}

.tabInput
{
    position: absolute;
    opacity: 0;
}

.tabInput:focus + .tabLabel
{
    z-index: 1;
}

.tabInput:checked + .tabLabel
{
    background: #05a;
    color: white;
}
    
.tabInput:checked + .tabLabel + .tabPanel
{
    display: block;
}

.tabLabel
{
    width: auto;
    text-align: center;
    padding-top: 4.5px;
    padding-left: 5px;
    background: lightblue;
    cursor: pointer;
    font-weight: bold;
    color: black;
    transition: background 0.1s, color 0.1s;
    border: 1px solid #242626;
    box-shadow: 2px 2px grey;
    margin: 1px;
}

.tabLabel:hover
{
    background: #aaf;
    color: #000;
}

.tabLabel:active
{
    background: #aaf;
}

.tabPanel
{
    grid-area: panel;
    display: none;
    background: #eee;
}



/* Main Sections */

#sections
{
    display: grid;
    grid-template-areas:
    "cmdrTab careersTab matsTab loadoutTab taskTab"
    "panel   panel      panel   panel      panel";
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 2em auto;
    background: #efefef;
}

#cmdrTab
{
    grid-area: cmdrTab;
    border-radius: 5px;
}
#careersTab
{
    grid-area: careersTab;
    border-radius: 5px;
}
#matsTab
{
    grid-area: matsTab;
    border-radius: 5px;
}
#loadoutTab
{
    grid-area: loadoutTab;
    border-radius: 5px;
}
#taskTab
{
    grid-area: taskTab;
    border-radius: 5px;
}


/* Material Inventory */

#inventoryContainer
{
    display: grid;
    grid-template-areas:
    "rawTab encTab manufacturedTab"
    "panel  panel  panel";
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 2em auto;
    background: #efefef;
}

#rawTab
{
    grid-area: rawTab;
    border-radius: 5px;
}
#encTab
{
    grid-area: encTab;
    border-radius: 5px;
}
#manufacturedTab
{
    grid-area: manufacturedTab;
    border-radius: 5px;
}



/* Loadout */

#loadoutContainer
{
    display: grid;
    grid-template-areas:
    "coreInternalsTab optionalInternalsTab hardpointsTab"
    "panel            panel                panel";
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 2em auto;
    background: #efefef;
}

#coreInternalsTab
{
    grid-area: coreInternalsTab;
    border-radius: 5px;
}
#optionalInternalsTab
{
    grid-area: optionalInternalsTab;
    border-radius: 5px;
}
#hardpointsTab
{
    grid-area: hardpointsTab;
    border-radius: 5px;
}